.listContainer {
  height: 380px;
  width: 300px;
  border: 1px solid #333446;
  border-radius: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}
.delete_icon {
  margin-right: 15px;

  color: #333446;
}
.button-container {
  margin-right: 10px;
  cursor: pointer;
}
